@import "../../styles/vars.scss";

.navContent {
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 1em;
    }

    ul {
        float: right !important;
        list-style: none;
        margin-bottom: 0;

        li {
            float: left;
            text-transform: uppercase;

            &:not(:first-child) {
                margin-left: 1em;
            }

            a {
                cursor: pointer;
                color: $primary-color;
                opacity: 0.5;
                text-decoration: none !important;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
