@import "../../styles/vars.scss";

.footerContent {
    margin: 0 auto;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: $primary-color;

    @media (min-width: 544px) {
        max-width: 576px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 940px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    img {
        margin-left: 0.5rem;
        height: 1em;
    }
}
