@import "./vars.scss";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    padding: 5rem 0;
    display: flex;
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;

        @media (min-width: 544px) {
            width: 50%;
        }
    }
}

.description {
    text-align: center;
    line-height: 1.5;
    color: $primary-color;
    font-size: 1.5rem;
}

.logo {
    height: 1em;
}
