// Basics
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$primary-color: #2A2A63;
$secondary-color: #83C8B7;

// Heights
$navbar-height: 2.5rem;
$footer-height: 2.5rem;
