// Basics
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;

// Colors
$primary-color: #2A2A63;
$secondary-color: #83C8B7;

// Heights
$navbar-height: 50px;
$footer-height: 50px;
